<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <%= link_to 'Menu', menus_path , class: "nav-link" %>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><%= image_tag 'dingkat-logo.png' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <%= link_to 'My profile', profile_path , class: "nav-link" %>
            <%= link_to 'Sign Out', destroy_user_session_url, method: :delete , class: "nav-link" %>
            <% else %>
            <%= link_to 'Sign In', user_session_path , class: "nav-link" %>
            <%= link_to 'Sign Up', new_user_registration_path , class: "nav-link" %>
        <% end %>
        </ul>
    </div>
</nav>