<div class="hero">
    <div class="hero-row">
    <div class="col-lg-12 text-center">

        <h1>Ding Dong!</h1>
        <h2>Tingkats prepared from the heart.</h2>

        <% if user_signed_in? %>
            <%= link_to 'My profile', profile_path %><br>
            <%= link_to 'View Menu', subscriptions_path %><br>
            <%= link_to 'Sign Out', destroy_user_session_url, method: :delete %>
            <% else %>
            <button type="button" class="btn btn-light"><%= link_to 'Sign In', user_session_path %></button>
            <button type="button" class="btn btn-light"><%= link_to 'Sign Up', new_user_registration_path %></button>
        <% end %>

    </div>
    </div>
</div>


<div class="index-container">
  <div class="row align-items-center index-row">
    <div class="col">
      <%= image_tag 'ingredients.png' %>
      <p>Only the freshest ingredients</p>
    </div>
    <div class="col">
      <%= image_tag 'cook.png' %>
      <p>Cooked with love in small batches</p>
    </div>
    <div class="col">
      <%= image_tag 'delivery.png' %>
      <p>Free delivery everyday</p>
    </div>
  </div>
</div>
