<div class="container container-margin">
    <div class="row">
        <div class="col-lg-12 text-center">
            <% if @user %>
                <h1>Profile</h1>
                <h2>Hello <%= @user.first_name %> <%= @user.last_name %></h2>
                <p>you are on some plan</p>
                <p>the start date is 17/10/1111</p>
                <p>the end date is 17/10/1111</p>
                <p>
                <%= link_to 'View Menu', menus_path , class: "btn btn-info" %>
                </p>
            <%= link_to  "Edit Profile", edit_user_registration_path , class: "btn btn-primary" %>
            <% else %>
            <%= link_to  "Please Login", user_session_path , class: "btn btn-primary" %>
            <% end %>
            <%= link_to  "Balik Kampong (Back to Home)", root_path , class: "btn btn-primary" %>
        </div>
    </div>
</div>