<h1>Profile</h1>
<h1><%= @user.email %></h1>
<% if @subscription %>
<h2>Your current subscription plan is for <%= @subscription.name %></h2>
<button><%= link_to  "Edit Subscription", edit_subscription_path %></button>
<% else %>
<h2>You do not have a subscription plan, click <span><button><%= link_to  "here", subscriptions_path %></button></span> to choose one</h2>
<% end %>


<button><%= link_to  "Back to home", root_path %></button>