<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center">

      <h1>SUBSCRIPTION OPTIONS</h1>
      
      <% if @current == nil %>
      <h2>You do not have a subscription plan</h2>
      <h2>Pick one from below:</h2>
      <% else %>
      <h2>Your current subscription plan is for <%= @subscription.name %><h2>
      <% end %>

     
        <div class="row">

          <div class="col-sm-3">
          </div>

          <div class="col-sm-6" id="sub-options">
            <% @subs.each do |sub| %>
            <% if @current == sub.id %>
              <button class="sub-button"><%= link_to  "Unsubscribe", unsubscribe_path, method: :put, data: {confirm: 'Are you sure you want to unsubscribe?'} %></button> <span id="subsc-text"><%= sub.name %> $<%= sub.price %></span></br>
            <% else %>
              <button class="sub-button"><%= link_to  "Select", subscription_path(sub) %></button> <span id="subsc-text"><%= sub.name %> $<%= sub.price %></span></br>
            <% end %>
            <% end %>
          </div>

          <div class="col-sm-3">
          </div>

        </div>
        <br>
        <button class="sub-button"><%= link_to  "Balik Kampong (Back to Home)", root_path %></button>

    </div>
    </div>
</div>
