<!DOCTYPE html>
<html>
  <head>
    <title>DingKat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great" rel="stylesheet">
  </head>


  <body>
    <%= render 'partials/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'partials/footer' %>     
  </body>
</html>
